.navbar{
    display: flex;
    flex-direction: row;
    /*margin: 2rem 5rem;*/
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo{
    width: 10vw;
}

.button{
    background-color: #F2FF93;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
}

.button {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}